/* body{
    background-color:rgb(209, 152, 78);
} */

/* .body{
    border-radius: 3em;
    padding-left: 18em;
    padding-block: 30px;
}

.simple{
    padding-left: 2.5em;
}

img{
    height: 51vh;
    width: 51.5vw;
    border-radius: 11px;
}

.Preparation li {
    margin-top: 1.5em;
}

.Preparation{
    background-color: rgb(244, 197, 205);
    padding-left: 2.5em;
}

.Ingredients li {
margin-top: 1.5em;

}

.Ingredients h1{
    color: rgb(247, 192, 120);
}

.Ingredients{
    padding-left: 2.5em;
}

.Instructions li {
    margin-top: 1.4em;
}

.Instructions h1{
    color: rgb(247, 192, 120);
}

.Instructions{
    padding-left: 2.5em;
}

.Nutrition p{
    margin-top: 1.6em;
    
}

.Nutrition h1{
    color: rgb(247, 192, 120);
}

.Nutrition{
padding-left: 2.9em;
}

.content-container{
    display: flex;
    justify-items: center;
    background-color: white;
    border-radius: 10px;
    max-width: 800px;
} */

